<div class = 'container'>
<div class = "page-header">
<center>
  <h1><%= @user.email%>'s Profile</h1>
  <% if current_user == @user%>
    <%= button_to 'Edit Profile', edit_user_registration_path, method: :get, class: :'btn btn-info' %>
  <%end%>
  <hr>

</div>
<div class = "container">
<div class="row">
  <% @images.each do |image| %>
      <div class="col-md-4 portfolio-item">
            <%= link_to image_tag(image.image_url(:display)), image%>
          </a>
          <h3>
            <%=link_to image.title, image%></a>
          </h3>
          <p>Description</p>
          <% if user_signed_in? %>
            <% if (current_user.id) == (image.user_id) or current_user.admin?%>
            <td id = "edit"><%= button_to 'Edit', edit_image_path(image), class: :'btn btn-default', method: :get %></td>
            <td id = "delete"><%= button_to 'Destroy', image, class: :'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%else%>
            <%end%>
          <%end%>
      </div>
      <%end%>
  </div>
<%= link_to 'Back', images_path%>
</div>
</div>
